 <div class="user-details">
  <h1> My Expertise </h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p> I am a 
    <b> data scientist </b> 
    with an extensive background in 
    <b> public speaking and communications. </b> 
    Currently, I'm completing my 
    <b> B.S. in Data Science @ UCSD </b> 
    (University of California, San Diego), and I'll soon pursue my (part-time) 
    <b> M.S. in Computer Science @ UCSD</b>
  </p>
  <p> 
    I'm invested in work on the level of 
    <b>human interaction -- project management, consulting, time at the podium</b>; 
    it's in my blood as a <b>tutor</b>
    , as a <b> professional events organizer</b>, 
    as an <b>orator</b>. 
    
    I view myself as someone who <b>makes technology and theory explainable.</b>
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
