<div class="user-details">
    <h1> Experience </h1>
    <p>See my full <a href="{{ '/assets/docs/resume.pdf' | prepend: site.baseurl }}"><b>full resume</b></a>.</p>
  </div>
  <div class="user-experience">
    <div class="images-right">
      <img alt="mountains" src="{{ '/assets/img/tutoring_solo.jpg' | prepend: site.baseurl }}" />
      <img alt="mountains" src="{{ '/assets/img/tutoring_group.jpg' | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Academic Tutor @ HDSI</h3>
      <i> Mar. 2024 - Present</i> 
      <ul>
        <li> Cumulative 100+ hours public speaking/presenting, including collaborating with peers to host a three-hour microphoned Q&A for midterm exam. </li>
        <li> Helped over 300+ students through both group and one-on-one sessions.</li>
        <li> A top contributor (22k+ lines of code) to <a href="practice.dsc40a.com">practice.dsc40a.com</a>, exam practice website used by hundreds of students. </li>
        <li> Lead the design, development, review process of professional video resources for data science students, self-taught with animation software (Manim). </li>
      </ul>
      <a class="experience-link" href="https://datascience.ucsd.edu/">About HDSI</a>
    </div>
  </div>
  <div class="user-experience">
    <div class="images-left">
      <img alt="mountains" src="{{ '/assets/img/ds3_hotones.jpg' | prepend: site.baseurl }}" />
      <img alt="mountains" src="{{ '/assets/img/ds3_academic.jpg' | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Professional Events @ DS3 UCSD</h3>
      <i> Sep. 2024 - Present</i> 
      <ul>
        <li> Tabled for the Data Science Student Society (DS3), conducting cold-opens to 50+ students.</li>
        <li> Coordinated logistics in Notion and Google Calendar for multiple industry-related workshops in team environment.</li>
        <li> Selected as future Project Lead for DS3's Consulting Team, involving heart data preparation for Vektor Medical.</li>
      </ul>
      <a class="experience-link" href="https://www.ds3ucsd.com/">About DS3</a>
    </div>
  </div>

  