<div class="user-details">
    <h1> Experience </h1>
    <p>See my <a href="./assets/docs/resume"><b>full resume</b></a>.</p>
  </div>
  <div class="user-experience">
    <div class="images-left">
      <img alt="mountains" src="{{ '/assets/img/mountains.jpg' | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Academic Tutor </h3>
      <ul>
        <li> Academic Tutor @ Halıcıoğlu Data Science Institute (HDSI)</li>
        <li> todo dates</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="experience-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="user-experience">
    <div class="images-left">
      <img alt="mountains" src="{{ '/assets/img/skate.jpg' | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Professional Events Coordinator </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="experience-link" href="#">Check it out</a>
    </div>
  </div>
  