<div class="user-details">
  <h1> Featured Projects </h1>
  <p>Listed below are my favorite projects I have worked on.</p>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Capstone Presentation" src="{{ '/assets/img/capstone.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Neural Network Capstone </h3>
    <ul>
      <li> Studied 60+ pages of Neural Network research to become knowledgeable in new technical domain.</li>
      <li> Crafted novel experiment in python code repository over 6 months, coded 75% of all work commits.</li>
      <li> Championed technical poster presentation to 50+ students and industry professionals at symposium.</li>
      <li> Tailored content to audiences of varying expertise through multiple deliverable types (research paper, poster,
      website).</li>
    </ul>
    <!-- <p>Six-month exploration on research behind Neural Network Test-Time Adaptation ("machines adapting on the fly") -- we then presented our findings to a symposium 50+ students and industry professionals. Includes poster, research paper, python repository, and website to attract different audiences. </p> -->
      
    <!-- In order to make our topic more accessible, we turned our presentation into a game: "Is This A Bird Or A Car?" -- this showcased the human ability to adapt on the fly surprisingly well, and helped others understand that machines -- thanks to our findings -- could get better at doing the same. </p> -->
    <a class="project-link" href="{{ '/assets/docs/nnreport.pdf' | prepend: site.baseurl }}">See Report</a>
  </div>
</div>

<div class="user-details">
  <h4> &ensp; </h4>
</div>
<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="The Sounds You Make" src="{{ '/assets/img/mouthmap.jpg' | prepend: site.baseurl }}" /> -->
    <img alt="Linguistics Article Snapshot" src="{{ '/assets/img/tonguemap.JPG' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <p> &ensp; </p>
    <h3> The Sounds You Make </h3>
    <ul>
      <li> Lead contributor of "The Sounds You Make", an interactive linguistics web article (node.js). </li>
      <li> 25+ hours independently learning and incorporating UI/UX elements: hand-crafted music, interactive backgrounds,
      data animations, and a compelling narrative. </li>
    </ul>
    <a class="project-link" href="https://nickswetlin.github.io/ipa-table/">See Website</a>
  </div>
</div>

<div class="user-details">
    <h4> &ensp; </h4>
  </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Algebraic Notation" src="{{ '/assets/img/chessboard.jpg' | prepend: site.baseurl }}" />
    <!-- <img alt="Chess Pipeline" src="{{ '/assets/img/chesspipeline.jpg' | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents-right">
    <p> &ensp; <br> &ensp; <br> &ensp; <br> </p>
    <h3> Chess Game Predictor </h3>
    <ul>
      <li> Compiled interactive python notebook with sklearn, pandas to analyze 1M+ rows of game data.</li>
      <li> 3000+ word report for modeling how to predict the winner of a chess game. Improvement on prior literature. </li>
    </ul>
    <a class="project-link" href="{{ '/assets/docs/chessreport.pdf' | prepend: site.baseurl }}">See Report</a>
  </div>
</div>

<div class="user-details">
    <h4> &ensp; </h4>
  </div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Power Outages Map" src="{{ '/assets/img/outages.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <p> &ensp; </p>
    <h3> Blackout Analyses </h3>
    <ul>
      <li> Detailed website reports for EDA & predictive modeling of blackout duration in the United States. </li>
      <li> Implemented statistical methods (hypothesis testing, A/B testing) to identify data missingness & significant blackout
      trends. </li>
    <a class="project-link" href="https://nickswetlin.github.io/power-outages/">See Website</a>  
    </div>
  </div>
</div

