<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ '/assets/img/mountains.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Neural Network Capstone </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>A six-month exploration on research behind Neural Network Test-Time Adaptation, a domain I originally knew nothing about -- we then presented our findings to students and industry professionals! In order to make our topic more accessible, we turned our presentation into a game: "Is This A Bird Or A Car?" -- this showcased the human ability to adapt on the fly surprisingly well, and helped others understand that machines -- thanks to our findings -- could get better at doing the same. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ '/assets/img/skate.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> The Sounds You Make </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ '/assets/img/skate.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Chess Game Predictor </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ '/assets/img/skate.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blackout Analyses </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
    </div>
  </div>

